### TASK 3 - DATA STRUCTURES

In [1]:
from functools import reduce

1. Create a list of 10 elements of four different data types like int, string, complex and float.

In [2]:
List = [1,2,4,'t','p',2+4j,4+2j,2.4,4.2,1.2]
print(List)

[1, 2, 4, 't', 'p', (2+4j), (4+2j), 2.4, 4.2, 1.2]

2. Create a list of size 5 and execute the slicing structure

In [3]:
l = [1,2,4,'t','p']

print(l[0:3]) 
print(l[3:])
print(l[:4])
print(l[::-1])

[1, 2, 4]
['t', 'p']
[1, 2, 4, 't']
['p', 't', 4, 2, 1]

3. Write a program to get the sum and multiply of all the items in a given list.

In [4]:
# Sum

x=reduce(lambda x,y:x+y,[1,2,3,4])
print(x)

# Multiplication

x=reduce(lambda x,y:x*y,[1,2,3,4])
print(x)

10
24

4. Find the largest and smallest number from a given list.

In [5]:
list = ['a',2,'b',4]
list.sort()
print 'smallest element is ', min(list)

list = [10,2,30,4]
list.sort()
print 'smallest element is ', max(list)

smallest element is  2
smallest element is  30

5. Create a new list which contains the specified numbers after removing the even numbers from a
predefined list.

In [6]:
l = [1,3,6,8,11,12,15,16,20]
x=filter(lambda x:x%2!=0, l)
print(x)

[1, 3, 11, 15]

6. Create a list of elements such that it contains the squares of the first and last 5 elements between
1 and30 (both included).

In [7]:
l = []
def printValues():
    for i in range(1,31):
        l.append(i**2)
    print(l[:5],l[-5:])

printValues()

([1, 4, 9, 16, 25], [676, 729, 784, 841, 900])

7. Write a program to replace the last element in a list with another list.

Sample input: [1,3,5,7,9,10], [2,4,6,8]

Expected output: [1,3,5,7,9,2,4,6,8]

In [8]:
a = [1,3,5,7,9,10]
b = [2,4,6,8]
a[5:] = b
print(a)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

8. Create a new dictionary by concatenating the following two dictionaries:

Sample input: a={1:10,2:20} b={3:30,4:40}

Expected output: {1:10,2:20,3:30,4:40}

In [9]:
a = {1:10,2:20}
b = {3:30,4:40}
a.update(b)
print(a)

{1: 10, 2: 20, 3: 30, 4: 40}

9. Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1
and n(both 1 and n included).

Sample input: n=5

Expected output: {1:1, 2:4, 3:9, 4:16, 5:25}

In [10]:
n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

10. Write a program which accepts a sequence of comma-separated numbers from console and
generates a list and a tuple which contains every number in the form of string.

Sample input: 34,67,55,33,12,98

Expected output: [‘34’,’67’,’55’,’33’,’12’,’98’] (‘34’,’67’,’55’,’33’,’12’,’98’)

In [12]:
l = []

def List_Tuple():
    nums = raw_input("Input some comma seprated numbers :")
    
    for i in nums:
        l.append(i)
        
    print(l)
    print(tuple(l))
    
List_Tuple()

Input some comma seprated numbers :3,4,53,4,5
['3', ',', '4', ',', '5', '3', ',', '4', ',', '5']
('3', ',', '4', ',', '5', '3', ',', '4', ',', '5')

In [13]:
# This is giving right output
l = []

def List_Tuple():
    nums = raw_input("Input some numbers :")
    
    for i in nums:
        l.append(i)
        
    print(l)
    print(tuple(l))
    
List_Tuple()

Input some comma seprated numbers :234567
['2', '3', '4', '5', '6', '7']
('2', '3', '4', '5', '6', '7')

In [14]:
#---------------------------END-------------------------#